Checks:          'performance-*, readability-*, -readability-identifier-length, -readability-magic-numbers, misc-unused-*, misc-const-correctness, cppcoreguidelines-pro-type-*, -cppcoreguidelines-pro-type-vararg'
FormatStyle:     file
UseColor: true
WarningsAsErrors: '*'